{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
<div class="container-sm mt-3" style="width: 50%;">
    <h1>{% trans "Сброс пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли пароль? <br> Введите свой e-mail, и мы отправим вам ссылку для сброса пароля." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-dark btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <!-- <p>{% blocktrans %}Дополнительная информация{% endblocktrans %}</p> -->
    <script src="{% static 'project/script/allauth-style-password-reset.js' %}"></script>
</div>

{% endblock %}